certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
decorator==5.2.1
docutils==0.21.2
emoji==2.14.1
filetype==1.2.0
future==1.0.0
geocoder==1.38.1
idna==3.10
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
phonenumbers==9.0.4
pycountry==24.6.1
Pygments==2.19.1
pypiwin32==223
pywin32==310
ratelim==0.1.6
requests==2.32.3
six==1.17.0
urllib3==2.4.0
